ul li {
    color: whitesmoke;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    background-color: black;
}

nav li {
    font-size: 1.5em;
}

h1 + p {
    font-size: 1.3rem;
}

footer {
    font-size: 20px;
}

#experiences + ul {
    font-size: 1.3rem;
}
header {
    padding: 30px;
    text-align: center;
}

footer {
    margin: 10px;
}

h1, h1 + p {
    text-align: center;
    color: greenyellow;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: grey;
}

img {
    border: 7px solid cadetblue;
    border-radius: 50%;
}
/* open-sans-regular - latin_math_symbols */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v40-latin_math_symbols-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-700 - latin_math_symbols */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v40-latin_math_symbols-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}