/********************************************************************************
                                      FONTS
 ********************************************************************************/
/* open-sans-regular - latin_math_symbols */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v40-latin_math_symbols-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-700 - latin_math_symbols */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v40-latin_math_symbols-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*********************************************
                REGLES GENERALES
**********************************************/
img {
    max-width: 100%;
}

/*************************************************
                      HEADER
 ************************************************/
header {
    text-align: center;
    padding: 1vw;
}

.photo-leny {
    border: 7px solid cadetblue;
    box-shadow: 10px 10px 0 #0496FF;
}

nav li {
    font-size: 1.5em;
    display: block;
    width: 60vw;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

nav a:hover {
    background-color: whitesmoke;
    border-bottom: 6px solid blueviolet;
    border-radius: 5px;
}

nav ul {
    margin-top: 40px;
    padding: 10px;
}
ul li {
    color: lightskyblue;
    margin-bottom: 0.8rem;
    background-color: black;
    border: cadetblue solid 3px;
    padding: 0.5vh 1vw 0.7vh;
    border-radius: 4px;
    box-shadow: 7px 3px 3px chartreuse;
}

h2 + ul {
    width: 40vw;
    margin-right: auto;
    margin-left: auto;
}

#competences + ul li {
    font-size: 1.5rem;
}

h1 + p {
    font-size: 1.3rem;
}

h2 {
    text-align: center;
}

a {
    color: #0496FF;
}

#experiences + ul {
    font-size: 1.3rem;
}

#experiences + ul li, #formation + ul li {
  box-shadow: 7px 3px 0 red;
}

h1, h1 + p {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 0 chartreuse;
}

h2 {
    margin-top: 40px;
    color: white;
    text-shadow: 1px 2px 0 #F75C03;
}

#formation + ul {
    margin-bottom: 40px;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    hyphens: auto; /**** Se souvenir de ça ****/
    background: url("https://image.api.playstation.com/vulcan/img/rnd/202011/0411/QgJxoWfABXJ6qKpJORB7Lb1I.png")
        center / cover
        no-repeat
        #929292;
    background-blend-mode: multiply;
}

strong {
    font-weight: 700;
}

footer {
    margin: 20px auto 10px auto;
    color: #FFFEFF;
    font-size: 16px;
    background-color: #000300;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    max-width: 400px;
    border: 6px solid #777777;
    border-right: 6px solid #555555;
    border-bottom: 6px solid #555555;
}


